@{
    Exam exam = ViewBag.exam;
    User user = (User)Session["user"];
}
@if (user.rank >= (int)UserRank.TEACHER)
{
    <li><a href="/Exam/ReviewList/@exam.eid">需阅卷列表</a></li>
    <li><a href="/Exam/Result/@exam.eid">考试成绩</a></li>
}
<li><a href="#" onclick="javascript: history.back()">返回</a></li>
<hr />
<li><a href="/News">新闻</a></li>
<li><a href="/Exam">考试</a></li>
<hr />