@{ 
    User user = (User)Session["user"];
}
@if (user != null && user.rank >= (int)UserRank.TEACHER)
{
    <li><a href="/Exam/New">新增考试</a></li>
}
<li><a href="/Exam/MyExams">我的考试</a></li>
<hr />
<li><a href="/News">新闻</a></li>
<li><a href="/Exam">考试</a></li>
<hr />