<li><a href="/Manage/Index">用户管理</a></li>
<li><a href="/Manage/Subject">学科管理</a></li>
<li><a href="/Manage/AddSubject">新增学科</a></li>
<li><a href="/Manage/Section">章节管理</a></li>
<li><a href="/Manage/AddSection">新增章节</a></li>
<li><a href="/Manage/Questions">题库管理</a></li>
<li><a href="/Manage/AddQuestion">新增题库</a></li>
<hr />
<li><a href="/News">新闻</a></li>
<li><a href="/Exam">考试</a></li>
<hr />